
<div class="products">

    <section class="articles">
        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="article-wrapper">
                <figure>
                    <img src="~/img/hyperx cloud ii.jpg" alt="" />
                </figure>
                <div class="article-body">
                    <h2>HyperX Cloud II</h2>
                    <div class="Quality">
                        <a href="#" class="read-more">
                            ₱ 1,500 <span class="sr-only"></span>
                        </a>
                        <div class="quality">
                            <a class="col-6 col-md-10"><p><em>Brand New / Unopened</em></p></a>
                            <a href="#" class="col-6 col-md-2"><i class="far fa-heart heart_products "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </section>
</div>

